# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.keystore.old*
*.mobileprovision
*.orig.*
google-services.json

# Metro
.metro-health-check*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/
.env.*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Supabase
supabase/.temp/
supabase/.env

# Website
website/node_modules/
website/dist/
website/.env

.obsidian/

AGENTS.md

docs
.vercel
